---
interface Props {
    qIndex: number,
	q: { question: string; options: string[]; answer: string},
    userAnswer: string,
}

const { qIndex, q, userAnswer } = Astro.props;


---

<li class="question-card">
    <h2>Question {qIndex+1}</h2>
    <h2>{q.question}</h2>
    <ul>
        {q.options.map((option, index) => (
            <li value={index}>
                <label class={
                        userAnswer === option
                            ? (option === q.answer ? 'correct-answer' : 'incorrect-answer')
                            : (option === q.answer ? 'correct-answer' : '')
                    }>
                    <input
                        type="radio"
                        name={`question-${qIndex}`}
                        value={option}
                        checked={userAnswer === option}
                        disabled
                    />
                    {option}
                </label>
            </li>
        ))}
    </ul>
    {userAnswer === '' && <div class="no-answer">No answer provided.</div>}

</li>

<style>
	.question-card {
		list-style: none;
		display: flex;
        flex-direction: column;
        padding: 5px;
		padding-bottom: 17px;
		background-color: #23262d;
		background-image: none;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        margin: 10px 20px 20px 20px;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        padding: 10px;
	}
    label {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    input {
        width: 40px;
        margin-top: 7px;
    }

</style>
